.header__button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: opacity 0.5s linear;
}

.header__button:hover {
  opacity: 0.7;
}
